main {
    .fashion-sect {
        width: 100%;
        display: flex;
        justify-content: center;

        .fashion-electronics {
            width: 85%;

            .choose-sect {
                margin: 20px 0;

                a {
                    padding-right: 15px;
                    text-decoration: none;
                    font-weight: 600;
                    color: rgb(68, 68, 68);
                    transition: all 0.3s ease;
                    font-size: 19px;

                    &:hover {
                        color: #E54A4A;
                    }

                    &:nth-child(1) {
                        color: #E54A4A;
                    }
                }
            }

            .fashion-sect-cards {
                width: 100%;

                .row {
                    .col {
                        .card {
                            border-radius: 0;
                            border: 1px solid rgb(230, 230, 230);
                            position: relative;

                            &:hover {
                                .hidden-sect {
                                    opacity: 1;

                                    .hidden-sect-icons {
                                        transform: translateY(10px);
                                        transition: all 0.5s linear;
                                    }
                                }
                            }

                            .hidden-sect {
                                position: absolute;
                                opacity: 0;
                                right: 10px;
                                transition: all 0.5s ease;

                                .first-new {
                                    top: 37px;
                                    left: 5px;
                                    position: absolute;
                                    background-color: rgb(98, 158, 98);
                                    border-radius: 5px;

                                    b {
                                        color: white;
                                        font-size: 11px;
                                        padding: 0 10px;
                                    }
                                }

                                .new {
                                    position: absolute;
                                    background-color: rgb(98, 158, 98);
                                    top: 10px;
                                    left: 5px;
                                    border-radius: 5px;

                                    b {
                                        color: white;
                                        font-size: 11px;
                                        padding: 0 10px;
                                    }
                                }

                                .hidden-sect-icons {
                                    display: flex;
                                    flex-direction: column;
                                    top: 0;
                                    right: 0;
                                    position: absolute;
                                    gap: 5px;

                                    i {
                                        color: black;
                                        border: 1px solid rgb(196, 196, 196);
                                        padding: 8px;
                                        border-radius: 50%;
                                        font-size: 1vw;
                                        transition: all 0.4s;

                                        &:hover {
                                            background-color: #E54A4A;
                                            color: white;
                                            border-color: #E54A4A;
                                        }
                                    }
                                }
                            }

                            .sale {
                                position: absolute;
                                z-index: 2;
                                background-color: #E54A4A;
                                top: 10px;
                                left: 10px;
                                border-radius: 5px;

                                b {
                                    color: white;
                                    font-size: 11px;
                                    padding: 0 9px;
                                }
                            }

                            .card-body {

                                .mini-title {
                                    font-size: 13px;
                                    color: grey;
                                }

                                .card-title {
                                    font-size: 15px;
                                    font-weight: 400;
                                }

                                .stars {
                                    i {
                                        color: #F2B600;
                                        font-size: 12px;
                                    }
                                }

                                b {
                                    del {
                                        color: grey;
                                        font-weight: 400;
                                        font-size: 14px;
                                    }

                                    color: #E54A4A;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    main {
        .fashion-sect {
            .fashion-electronics {
                .fashion-sect-cards {
                    .row {
                        .col {
                            .card {
                                .hidden-sect {
                                    .hidden-sect-icons {
                                        i {
                                            font-size: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}