header {
    width: 100%;
    font-family: "Roboto", sans-serif;

    .header-head {
        width: 100%;
        display: flex;
        justify-content: center;
        color: rgb(107, 107, 107);
        border-bottom: 1px solid rgb(226, 225, 225);

        .header-head-text {
            width: 85%;
            display: flex;
            justify-content: space-between;

            .quick-links {
                display: none;
            }

            .head-left-txt {
                padding-top: 12px;

                p {
                    font-size: 14px;
                }

            }

            .head-right-txt {
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    color: rgb(107, 107, 107);
                    transition: all 0.4s ease;
                    border-right: 1px solid rgb(207, 207, 207);
                    padding: 0 10px;
                    font-size: 14px;

                    &:hover {
                        color: #FF5252;
                    }
                }

                select {
                    border: none;
                    padding: 0 10px;
                    font-size: 14px;
                    border-right: 1px solid rgb(209, 208, 208);

                }
            }
        }
    }

    .header-middle {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgb(211, 211, 211);

        .header-middle-body {
            width: 85%;
            padding: 15px 0;
            display: flex;
            align-items: center;

            nav {
                width: 100%;
                background-color: white;

                .collapse {

                    form {

                        input {
                            padding-right: 100px;
                        }

                        button {
                            background-color: #FF5252;
                            color: white;
                            padding: 5px 25px;

                            &:hover {
                                background-color: black;
                            }
                        }
                    }

                }

                .navbar-nav {

                    li {
                        &:nth-child(1) {
                            border-right: 1px solid rgb(216, 216, 216);
                        }

                        i {
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }

                    .user {
                        display: none;
                    }
                }
            }
        }

    }

    .header-bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgb(216, 216, 216);

        .header-bottom-body {
            width: 85%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            font-weight: 500;

            .left-side {
                border-right: 1px solid rgb(209, 209, 209);

                select {
                    border: none;
                    padding-right: 10px;
                }
            }

            .bottom-body-center {
                padding-top: 15px;

                ul {
                    align-items: center;
                    display: flex;
                    list-style-type: none;
                    background-color: white;

                    li {
                        position: relative;
                        padding: 0 15px;

                        a {
                            text-decoration: none;
                            color: black;
                            text-align: center;
                        }

                        &:hover ul {
                            display: block;
                        }

                        ul {
                            left: 0;
                            display: none;
                            position: absolute;
                            border: 1px solid;

                            li {
                                &:hover {
                                    background-color: rgb(194, 194, 194);
                                }
                            }
                        }
                    }
                }
            }

            .right-side {
                display: flex;
                padding-top: 15px;


                i {
                    font-size: 20px;
                }

                p {
                    padding-left: 15px;
                }
            }
        }
    }
}

@media (max-width: 994px) {
    header {
        .header-head {
            .header-head-text {
                .quick-links {
                    display: block;

                    select {
                        border: none;
                    }
                }

                .head-left-txt {
                    display: none;
                }

                .head-right-txt {
                    a {
                        display: none;
                    }

                    select {
                        border: none;
                        font-size: 14px;
                    }
                }
            }
        }

        .header-bottom {
            display: none;
        }
    }
}

@media (max-width: 1200px) {
    header {
        .header-head-text {
            .head-right-txt {
                select {
                    border: none;
                }
            }
        }

        .header-middle {
            .header-middle-body {
                nav {
                    .collapse {
                        form {
                            button {
                                background-color: #FF5252;
                                color: white;
                                padding: 5px 25px;

                                &:hover {
                                    background-color: black;
                                }
                            }
                        }

                    }

                    .navbar-nav {
                        li {
                            &:nth-child(1) {
                                display: none;
                            }
                        }

                        .user {
                            display: block;
                        }
                    }
                }
            }

        }
    }
}

@media (max-width: 880px) {
    header {
        .header-middle {
            width: 100%;
            display: flex;
            justify-content: center;
            border-bottom: 1px solid rgb(211, 211, 211);

            .header-middle-body {
                width: 85%;
                padding: 15px 0;
                display: flex;
                align-items: center;

                nav {
                    width: 100%;
                    background-color: white;

                    .collapse {

                        form {
                            width: 100%;

                            input {
                                padding-right: 100px;
                            }

                            button {
                                background-color: #FF5252;
                                color: white;
                                padding: 5px 25px;

                                &:hover {
                                    background-color: black;
                                }
                            }
                        }

                    }
                }
            }

        }
    }
}

@media (max-width: 768px) {
    header {
        .header-middle {

            .header-middle-body {

                nav {

                    .collapse {

                        form {

                            input {
                                padding-right: 100px;
                            }

                            button {
                                background-color: #FF5252;
                                color: white;
                                padding: 5px 25px;

                                &:hover {
                                    background-color: black;
                                }
                            }
                        }

                    }

                    .navbar-nav {
                        display: flex;
                        flex-direction: row;

                        li {
                            &:nth-child(1) {
                                border-right: 1px solid rgb(216, 216, 216);
                            }

                            i {
                                font-size: 20px;
                                font-weight: 600;
                            }
                        }

                    }
                }
            }

        }
    }
}

@media (max-width: 533px) {
    header {
        .header-middle {

            .header-middle-body {

                nav {
                    display: flex;
                    justify-content: space-around;

                    .collapse {
                       
                        form {

                            input {
                                padding-right: 100px;
                            }

                            button {
                                background-color: #FF5252;
                                color: white;
                                padding: 5px 25px;

                                &:hover {
                                    background-color: black;
                                }
                            }
                        }

                    }

                    .navbar-nav {
                        margin-top: 15px;
                    }
                }
            }

        }
    }
}