main {
    .second-main-sect {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 60px 0;

        .scnd-main-head {
            width: 85%;

            .scnd-main-free {
                width: 100%;
                border: 2px solid #FF5252;
                border-radius: 5px;

                .row {
                    .free-box {
                        border-right: 1px solid rgba(128, 128, 128, 0.452);
                        margin: 22px;
                    }

                    .frst {
                        b {
                            font-size: 2vw;
                        }
                    }

                    .cntr {
                        margin: 27px;
                        text-align: center;
                        
                        p {
                            font-size: 1.2vw;
                        }
                    }

                    .thrd {
                        border: none;
                        text-align: right;
                       
                        a {
                            color: black;
                            font-weight: 600;
                            font-size: 1.8vw;
                            text-decoration: none;
                        }
                    }
                }
            }
        }


    }
}

@media (max-width: 992px) {
    main {
        .second-main-sect {

            .scnd-main-head {

                .scnd-main-free {
                    text-align: center;

                    .row {

                        .free-box {
                            width: 100%;
                            border: none;
                            margin: 1px;

                            img {
                                display: none;
                            }

                        }

                        .frst {                    
                            b {
                                font-size: 2.2vw;
                            }
                        }
    
                        .cntr {
                        
                            p {
                                font-size: 1.8vw;
                            }
                        }

                        .thrd {
                            width: 100%;
                            text-align: center;
                            
                        }

                    }
                }
            }
        }
    }
}